<div class="footer">
    <p>© <%= new Date().getFullYear(); %> Cute Girls</p>
    <div class="contact">
       <a class="github" target="_blank" href="https://github.com/Nadeem-developer"><i class="fa-brands fa-square-github"></i></a> 
       <a class="linkdin" target="_blank" href="https://www.linkedin.com/in/nadeem-khan-104380269"><i class="fa-brands fa-linkedin"></i></a> 
       <a class="youtube" target="_blank" href="https://www.youtube.com/@RapidCode_NK"><i class="fa-brands fa-youtube"></i></a> 
    </div>
</div>